#size-variants a.btn-link.active::after {
    content: '';
    border-bottom : 5px solid var(--primary-color-shade);
    width: 48px;
    display: block;
    position: absolute;
    top: 30px;
    left: -2px;
}

.lightbox {
    z-index: 999;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    visibility: hidden;
    opacity: 0;
    transition: visibility 0.5s, opacity 0.5s;
    background: rgba(41, 47, 38, 0.7);
}

/* Unhide the lightbox when it's the target */
.lightbox:target {
    visibility: visible;
    opacity: 1;
}
