.filter-container {
    height: calc(100vh - 60px);
    overflow: auto;
    /* overflow: hidden; */
}
/* .filter-container:hover {
    overflow-y: auto;
} */
.filter-container::-webkit-scrollbar {
    width: 8px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: var(--grey-color-shade); 
}
.promo-banner {
    background: var(--primary-color-shade);  /* fallback for old browsers */
    background: -webkit-linear-gradient(to bottom, #a8e063, #56ab2f);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to bottom, #a8e063, #56ab2f); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */    
}

#sliderRangeInput {
    background: linear-gradient(to right, #D5E9C6 0%, #D5E9C6 50%, #D5E9C6 50%, #D5E9C6 100%);
    border-radius: 8px;
    height: 8px;
    outline: none;
    transition: background 450ms ease-in;
    -webkit-appearance: none;
}
.no-gutters>[class*=col-] {
    padding-right: 6px;
    padding-left: 6px;
}
.dropdown-menu {
    transform: translate3d(-125px, 31px, 0px) !important;
}

@media (min-width: 960px) {
    .filter-panel {
        flex: 0 0 22%;
        max-width: 22%;
    }
    .product-list-panel {
        flex: 0 0 78%;
        max-width: 78%;
    }
}