
/* CSS custom notation (variables) */
:root {
    --font-size: 16px;
    --font-weight: 400;

    --primary-color-shade: #70AE3E;
    --primary-color-shade--light: #D6FFD7;
    --primary-color-shade--lighter: #F2FFF3;
    --primary-color-shade--dark: #18621A;

    --secondary-color-shade: #32363B;
    --secondary-color-shade-light: #888888;
    --secondary-color-shade-lighter: #EDEDED;
    --secondary-color-shade-lightest: #F5F5F5;

    --warning-color-shade: #FAD208;
    --warning-color-shade-light: #FFF3CA;
}